<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <h3>Here are some examples to help you start:</h3>

  <div class="row">
    <span> Current Year</span>
    <ngy-year-picker [(ngModel)]="currentYear" id="year-picker3"></ngy-year-picker>
    <div class="curr-year">selected year : {{currentYear}}</div>
  </div>
  <br>
  <br>

  <div class="row">
    <span> Choose Year</span>
    <ngy-year-picker [(ngModel)]="model" (change)="onChangeDoSomething()" id="year-picker1"></ngy-year-picker>
  </div>
  <br>
  <br>

  <div class="row">
    <span> Choose Financial Year / Quater</span>
    <ngy-year-picker [(ngModel)]="model2" (change)="onChangeDoSomething2()" [isQuarterYear]="true" id="year-picker2">
    </ngy-year-picker>
  </div>
</div>